USE [master]
GO
/****** Object:  Database [CAMPEONATO]    Script Date: 21/11/2015 16:24:36 ******/
CREATE DATABASE [CAMPEONATO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CAMPEONATO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CAMPEONATO.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CAMPEONATO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CAMPEONATO_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CAMPEONATO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CAMPEONATO]
GO
/****** Object:  Table [dbo].[CAMPEONATO]    Script Date: 21/11/2015 16:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAMPEONATO](
	[cod] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](25) NULL,
	[capacidade] [int] NULL,
	[local] [varchar](30) NULL,
	[premiacao] [varchar](50) NULL,
 CONSTRAINT [PK_CAMPEONATO] PRIMARY KEY CLUSTERED 
(
	[cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JOGADOR]    Script Date: 21/11/2015 16:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JOGADOR](
	[cod] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](40) NULL,
	[idade] [int] NULL,
	[nickname] [varchar](16) NULL,
	[idTime] [int] NULL,
 CONSTRAINT [PK_JOGADOR] PRIMARY KEY CLUSTERED 
(
	[cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIME]    Script Date: 21/11/2015 16:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIME](
	[cod] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](20) NULL,
	[criador] [varchar](30) NULL,
	[pais] [varchar](20) NULL,
	[qt_jogadores] [int] NULL,
 CONSTRAINT [PK_TIME] PRIMARY KEY CLUSTERED 
(
	[cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TIME] ON 

INSERT [dbo].[TIME] ([cod], [nome], [criador], [pais], [qt_jogadores]) VALUES (1, N'Sem Time', N'Padrão', N'Padrão', NULL)
SET IDENTITY_INSERT [dbo].[TIME] OFF
ALTER TABLE [dbo].[JOGADOR]  WITH CHECK ADD  CONSTRAINT [FK_JOGADOR_TIME] FOREIGN KEY([idTime])
REFERENCES [dbo].[TIME] ([cod])
GO
ALTER TABLE [dbo].[JOGADOR] CHECK CONSTRAINT [FK_JOGADOR_TIME]
GO
USE [master]
GO
